<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet"
    href="/stylesheets/css/.css">
  </head>
  <body>

    <div class="wrapper">
      <div id="content">
        <h1>New Trade Idea or Update</h1>

        <form class="" action="/posts" method="POST">

          <h2>Title: <input type="text" name="title" value=""></h2>
          <h2>Author: <input type="text" name="author" value=""></h2>
          <h2>Content: <textarea type="text" name="content" value=""></textarea></h2>
          <h2>Date: <input type="text" name="post_date" value=""></h2>
          <h4>Add Charts: <image src="" name=value value=""></h4>
          <h2><input type="submit" value="Submit"></h2>

        </form>
      </div>
    </div>
  </body>

</html>
